/* -------------fonts-------------- */

@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

@font-face {
    font-family: 'oldlondon';
    src: url('../fonts/oldlondon.ttf'),
         url('../fonts/oldlondon.woff2') format('woff2'),
         url('../fonts/oldlondon.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    /* -------------variables colores-------------- */

--baby-powder: #f7f7f2ff;
--beige: #e4e6c3ff;
--moss-green: #899878ff;
--eerie-black: #222725ff;
--night: #121113ff;
}

/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓==NO TOCAR==↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--eerie-black);
    color: var(--beige);
    display: flex;
    flex-direction: column;
    font-family: 'Atkinson Hyperlegible', sans-serif;
   
}
    
@media (min-width: 320px) {

    header {
        padding: 0.5rem;
        text-align: center;
        font-size: 1.8rem;
        background-color: var(--night) ;
        color: var(--beige);
    }

    header h1 {
        font-family: 'oldlondon';
        font-weight: 100;
    }



ul {
    list-style: none;
    text-align: center;
    
}

ul a {
    color: var(--eerie-black);
    font-size: 1.6rem;
    text-decoration: none;
    background-color: var(--beige);
    width: 100%;
    display: block;
    margin: 0.2rem 0;
    padding: 0.5rem;
    transition-duration: 600ms ;
   
}



ul a:hover, ul a:focus {
    background-color: var(--baby-powder);
}


footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
    color: var(--eerie-black);
}

footer p {
    margin-bottom: 0.5rem;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑===NO TOCAR==↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/

main {
    margin-top: 2rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-family: 'oldlondon';
    font-weight: 100;
}

main img {
    width: 100%;
}


.art-banda p {
    text-align: justify;
    margin: 1rem;
    font-size: 1.3rem;
}

figure figcaption {
    font-size: 2rem;
    text-align: center;
}

figure p {
    font-size: 1.2rem;
    text-align: center;
}

.art-re figure {
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
}

}





/* ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓==NO TOCAR==↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
@media (min-width: 920px) {

    h1 {
        font-size: 5rem;
    }
.cont-principal {
    display: flex;
}

aside {
    min-width: 15%;
    background-color: var(--beige);
    margin: 0.5rem;
}

aside nav {
    position: sticky;
    top: 0.1rem;
}

ul a {
    border-bottom: 2px solid ;
    margin: 0;
}

  /* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑===NO TOCAR==↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/

    .art-banda figure {
        float: left;
        width: 70vh;
        margin: 0 2rem 0 1rem;
    }
    
    
    .art-re {
        margin-top: 5rem;
        background-color: var(--night);
        padding: 2rem 0;
        margin-bottom: 2rem;
    }
    .art-re section {
        display: flex;
        justify-content: space-evenly;
    }

.art-re figure{
    width: 20%;
    /* margin-bottom: 0; */
    margin: 0;
    
}

}